In [2]:
import pandas as pd

# known municipalities/counties with schools within 30 miles of Golden - https://www.schoolsk-12.com/Colorado/Golden/index.html
neighbors = {"Evergreen", "Wheat Ridge", "Arvada", "Black Hawk", "Rollinsville", "Denver", "Westminster", "Broomfield", "Littleton", "Commerce City", "Louisville", "Englewood", "Boulder", "Lafayette", "Eastlake", "Aurora", "Brighton", "Longmont", "Niwot", "Frederick", "Golden", "Jefferson"}    

#
# Principals
#

# data from https://www.cde.state.co.us/cdereval/staffcurrent
df2 = pd.read_excel("https://www.cde.state.co.us/cdereval/2019-20principalandassistantprincipalbyaveragesalarybydistrictxls")

# cleanup
df2 = df2.iloc[2:-1] # drop table title row and Total summary row
df2 = df2.reset_index(drop=True) # reindex
df2.columns = ["Year", "Code", "Name", "Total_FTE", "Salary"] # assign column names
df2['Salary'] = df2.Salary.astype(float) # fix the datatype from object to float

# set new dataframe shell
principal = pd.DataFrame(columns=df2.columns)

for i in range(len(df2.index)):
    if any(x in df2['Name'][i] for x in neighbors):
        principal.loc[len(principal)] = [df2[j][i] for j in df2.columns]

#principal.to_csv("/Users/jacek/Downloads/principal_salaries.csv", index=False)

principal_summary = principal['Salary'].describe()
#print(principal_summary)

#format descriptives as HTML table
tst = pd.DataFrame(principal_summary)

data_in_html = tst.to_html(index=True)
import re
#data_in_html = re.sub(r'Public_Salary', r'Salary', data_in_html)
total_id = 'totalID'
header_id = 'headerID'
style_in_html = """<style>
    table#{total_table} {{color='black';font-size:13px; text-align:center; border:0.2px solid black;
                         border-collapse:collapse; table-layout:fixed; height="250"; text-align:center }}
    thead#{header_table} {{background-color: #4D4D4D; color:#ffffff}}
    </style>""".format(total_table=total_id, header_table=header_id)
data_in_html = re.sub(r'<table', r'<table id=%s ' % total_id, data_in_html)
data_in_html = re.sub(r'<thead', r'<thead id=%s ' % header_id, data_in_html)

from IPython.display import HTML
HTML(style_in_html + data_in_html)